{% macro companyUserRow(companyUser, index, isAllowedRemoveAction) %}
    <tr class="js-company-user-item js-form-group table-form__row" data-index="{{ index }}">
        <td>
            {{ form_row(companyUser.firstName) }}
            {{ form_row(companyUser.lastName) }}
            {{ form_row(companyUser.email) }}
            {{ form_row(companyUser.password.first) }}
            {{ form_row(companyUser.password.second) }}
        </td>
        <td class="table-form__cell text-center">
            {% if isAllowedRemoveAction %}
                <a href="#" class="js-company-user-item-remove table-form__action"><i class="svg svg-circle-cross"></i></a>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% block company_users_form_widget %}
    {% import _self as self %}
    <div class="js-form-group wrap-border form-group">
        <table class="table-form" id="company_users_form">
            <tbody class="js-company-users" data-prototype="{{ self.companyUserRow(form.vars.prototype)|escape }}" data-index="{{ form|length }}">
            {% for key, companyUser in form %}
                {{ self.companyUserRow(companyUser, key, form|length > 1) }}
            {% endfor %}
            </tbody>
        </table>
        <div class="form-line form-line--no-top-border">
            <div class="form-line__line form-line__line--no-space">
                <a href="#" class="js-company-user-item-add btn btn--plus">
                    <i class="btn__icon">+</i>
                    {{ 'Add company user'|trans }}
                </a>
            </div>
        </div>
    </div>

    <script>
        Shopsys = window.Shopsys || {};
        Shopsys.companyUsers = Shopsys.companyUsers || {};

        Shopsys.companyUsers.init = function () {
            $('.js-company-users').on('click', '.js-company-user-item-remove', function (event) {
                var $collection = $(this).closest('.js-company-users');

                if ($collection.find('.js-company-user-item').length > 1) {
                    var $item = $(this).closest('.js-company-user-item');
                    var index = $item.data('index');
                    $item.remove();

                    Shopsys.formChangeInfo.showInfo();
                } else {
                    Shopsys.window({
                        content: Shopsys.translator.trans('At least one customer must be associated with the company!')
                    });
                }

                event.preventDefault();
            });

            $('.js-company-user-item-add').on('click', function () {
                var $collection = $('.js-company-users');
                var index = $collection.data('index');

                var prototype = $collection.data('prototype');
                var item = prototype
                    .replace(/__name__label__/g, index)
                    .replace(/__name__/g, index);
                var $item = $(item);
                $item.data('index', index);

                $collection.data('index', index + 1);

                $collection.append($item);

                Shopsys.formChangeInfo.showInfo();
                Shopsys.validation.addNewItemToCollection('#company_users_form', index);

                return false;
            });

        };

        $(document).ready(function () {
            Shopsys.companyUsers.init();
        });
    </script>

{% endblock company_users_form_widget %}