<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta http-equiv="X-UA-Compatible" content="IE=11" />
        {% block meta_robots %}
            <meta name="robots" content="noindex, nofollow">
        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|Teko:600&amp;subset=latin-ext" rel="stylesheet">

        {% set entryDirectory = 'frontend-style-' ~ getDomain().currentDomainConfig.stylesDirectory %}
        {{ encore_entry_link_tags( entryDirectory ) }}

        <link rel="icon" type="image/png" href="{{ asset('public/frontend/images/favicon.png') }}">

        {% set entryDirectoryPrint = 'frontend-print-style-' ~ getDomain().currentDomainConfig.stylesDirectory %}
        {{ encore_entry_link_tags( entryDirectoryPrint ) }}

        {{ encore_entry_script_tags('frontend') }}

        {{ js_validator_config() }}
        {{ init_js_validation() }}

        {{ render(controller('App\\Controller\\Front\\HeurekaController:embedWidgetAction')) }}

        {% block javascripts %}{% endblock %}

        <title>{% block title %}Shopsys Framework{% endblock %} {{ getSeoTitleAddOn() }}</title>
    </head>

    <body class="web">

        {{ render(controller('App\\Controller\\Front\\ScriptController:embedAllPagesScriptsAction')) }}
        {{ render(controller('App\\Controller\\Front\\ScriptController:embedAllPagesGoogleAnalyticsScriptAction')) }}
        {{ render(controller('App\\Controller\\Front\\ScriptController:embedAllPagesGoogleTagManagerScriptAction')) }}

        {% block html_body %}{% endblock %}

        {% block javascripts_bottom %}{% endblock %}

    </body>
</html>
