{% macro list(products, listCssClass, productHeadingTagName) %}
    {% set domain = getDomain() %}

    <ul class="list-products js-product-list {{ listCssClass|default('') }}">
        {% for product in products %}
            <li class="list-products__item js-list-products-item" id="js-list-products-item-{{ product.id }}">
                <div class="list-products__item__in">
                    <a href="{{ url('front_product_detail', {'id': product.id}) }}" class="list-products__item__block">

                        <div class="list-products__item__image">
                            {{ image(product, { size: 'list', alt: product.name }) }}
                        </div>

                        <div class="list-products__item__info">
                            <{{ productHeadingTagName|default('h2') }} class="list-products__item__title js-list-products-item-title">
                                {{ product.name }}
                            </{{ productHeadingTagName|default('h2') }}>
                            
                            <p class="list-products__item__info__description">
                                {{ product.getShortDescription(domain.id) }}
                            </p>
                            {% set productSellingPrice = getProductSellingPrice(product) %}
                            {% if productSellingPrice is not null %}
                                <div class="list-products__item__info__price">
                                    <div class="list-products__item__info__price__item list-products__item__info__price__item--main">
                                        {% if productSellingPrice.priceFrom %}
                                            {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                        {% else %}
                                            {{ productSellingPrice.priceWithVat|price }}
                                        {% endif %}
                                    </div>
                                    <div class="list-products__item__info__price__item">
                                        {% if productSellingPrice.priceFrom %}
                                            {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithoutVat|price}) }}
                                        {% else %}
                                            {{ productSellingPrice.priceWithoutVat|price }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="list-products__item__info__availability">
                                {{ product.calculatedAvailability.getName }}
                            </div>
                        </div>
                    </a>

                    <div class="list-products__item__action">
                        {% if not product.isMainVariant %}
                            {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm',{
                                product: product
                            }

                            )) }}
                        {% else %}
                            <a href="{{ url('front_product_detail', { id: product.id }) }}" class="btn btn--success">{{ 'Choose variant'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
