{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@ShopsysShop/Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block title %}
    {{ 'Search results for "%searchText%"'|trans({ '%searchText%': searchText }) }}
{% endblock %}

{% block meta_robots %}
    {{ paginator.metaRobots(paginationResult) }}
{% endblock %}

{% block content %}
    {% block breadcrumb %}
        {{ render(controller('ShopsysShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}
    {% endblock %}
    <div class="web__main web__main--with-panel">
        <div class="web__main__content js-main-content">

            {{ render(controller('ShopsysShopBundle:Front/FlashMessage:index')) }}

            {% block main_content %}
            <h1>{{ 'Search results for "%searchText%"'|trans({ '%searchText%': searchText }) }}</h1>

            {{ render(controller('ShopsysShopBundle:Front/Category:categoryList', {categories: foundCategories})) }}

            <div class="js-product-list-with-filter">


                <div class="js-product-list-ajax-filter-products-with-controls">
                    <div>
                        {{ render(controller('ShopsysShopBundle:Front/Product:selectOrderingModeForSearch')) }}
                    </div>
                    {% include '@ShopsysShop/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmited: filterFormSubmited, searchText: searchText} %}
                </div>
            </div>
            {% endblock %}
        </div>

        <div class="web__main__panel">
            <div class="wrap-border">
                {{ render(controller('ShopsysShopBundle:Front/Category:panel', { request: app.request } )) }}
            </div>

            {% if paginationResult.results|length > 0 or filterFormSubmited %}
                <div class="box-filter js-product-filter">
                    {{ productFilterForm.filterForm(
                        filterForm,
                        url('front_product_search'),
                        url('front_product_search', { SEARCH_TEXT_PARAMETER : searchText }),
                        searchText,
                        'search',
                        productFilterCountData,
                        priceRange
                    ) }}
                </div>
            {% endif %}

            {% block panel_content %}{% endblock %}

            {{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : constant('Shopsys\\FrameworkBundle\\Model\\Advert\\Advert::POSITION_LEFT_SIDEBAR')})) }}
        </div>
    </div>
{% endblock %}
