{% extends '@ShopsysShop/Front/Layout/base.html.twig' %}
{% use '@ShopsysShop/Front/Layout/header.html.twig' %}

{% block html_body %}
    {% set adminLoggedAsCustomer = is_granted(constant('Shopsys\\FrameworkBundle\\Model\\Security\\Roles::ROLE_ADMIN_AS_CUSTOMER')) %}
    {% if adminLoggedAsCustomer or isMailerSettingUnusual() %}
        <div class="window-bar">
            {% if adminLoggedAsCustomer %}
                <div class="window-bar__item">
                    {{ 'Attention! You are administrator logged in as the customer.'|trans }}
                    <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}">{{ 'Log out'|trans }}</a>
                </div>
            {% endif %}
            {% if isMailerSettingUnusual() %}
                <div class="window-bar__item">
                    {{ getMailerSettingInfo() }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="web__in">
        <div class="web__line web__line--dark">
            <div class="web__container">
                {% include '@ShopsysShop/Front/Layout/headerTop.html.twig' %}
            </div>
        </div>
        <div class="web__line">
            <div class="web__header">
                <div class="web__container">
                    {{ block('header') }}
                </div>
            </div>
            <div class="web__container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block advantages %}
    <div class="web__advantages">
        <div class="web__line web__line--box-advantages">
            <div class="web__container">
                <div class="box-advantages">
                    <div class="box-advantages__item">
                        <div class="box-advantages__item__icon">
                            <span class="svg svg-advantages-icon-value"></span>
                        </div>

                        <div class="box-advantages__item__text">
                            <div class="box-advantages__item__title">
                                Great Value
                            </div>
                            We offer competitive prices on our 100 million plus product range.
                        </div>
                    </div>
                    <div class="box-advantages__item">
                        <div class="box-advantages__item__icon">
                            <span class="svg svg-advantages-icon-satisfaction"></span>
                        </div>

                        <div class="box-advantages__item__text">
                            <div class="box-advantages__item__title">
                                100% Satisfaction
                            </div>
                            With sites in 5 languages, we ship to over 200 countries & regions.</div>
                    </div>
                    <div class="box-advantages__item">
                        <div class="box-advantages__item__icon">
                            <span class="svg svg-advantages-icon-delivery"></span>
                        </div>

                        <div class="box-advantages__item__text">
                            <div class="box-advantages__item__title">
                                Worldwide Delivery
                            </div>
                        Pay with the world’s most popular and secure payment methods.</div>
                    </div>
                    <div class="box-advantages__item">
                        <div class="box-advantages__item__icon">
                            <span class="svg svg-advantages-icon-responsible"></span>
                        </div>

                        <div class="box-advantages__item__text">
                            <div class="box-advantages__item__title">
                                We are Responsible
                            </div>
                            Our Buyer Protection covers your purchase from click to delivery.</div>
                    </div>
                    <div class="box-advantages__item">
                        <div class="box-advantages__item__icon">
                            <span class="svg svg-advantages-icon-help"></span>
                        </div>

                        <div class="box-advantages__item__text">
                            <div class="box-advantages__item__title">
                                24/7 Help Center
                            </div>
                            Round-the-clock assistance for a smooth shopping experience.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <div class="web__footer{% if not isCookiesConsentGiven() %} web__footer--with-cookies js-eu-cookies-consent-footer-gap{% endif %}">
        {% include '@ShopsysShop/Front/Layout/footer.html.twig' %}
    </div>
    {% if not isCookiesConsentGiven() %}
        {% set cookiesArticle = findCookiesArticleByDomainId(getDomain().id) %}
        <div class="box-cookies js-eu-cookies">
            <div class="box-cookies__in">
                <div class="box-cookies__text">
                    <span class="display-none-tablet display-inline-block">
                        {{ 'This site uses cookies. By staying on the site you agree with that.'|trans }}
                    </span>
                    <span class="display-none display-inline-block-tablet">
                        {{ 'This site uses cookies.'|trans }}
                    </span>
                    {% if cookiesArticle is not null %}
                        <a href="{{ url('front_article_detail', { id: cookiesArticle.id }) }}" target="_blank">
                            {{- 'More information'|trans -}}
                        </a>
                    {% endif %}
                </div>
                <div class="box-cookies__btn">
                    <button class="btn btn--primary btn--small js-eu-cookies-consent-button" type="button">{{ 'I understand'|trans }}</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
