{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('assets/frontend/images/logo.svg') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block main_content %}

    {{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : 'homepagePrimary'})) }}
    {{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : 'homepageSecondaryLeft'})) }}
    {{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : 'homepageSecondaryRight'})) }}

    {% cache 'homepage_category_top' 5*60 %}
        {{ render(controller('ShopsysShopBundle:Front/Category:top')) }}
    {% endcache %}

    {% if topProducts is not empty %}
        <div id="top-products">
            <h2>{{ 'Special offers'|trans }}</h2>
            {{ productList.list(topProducts, null, 'h3') }}
        </div>
    {% endif %}

{% endblock %}
